/* CSS by Steve Walter */

html, body{
	margin: 0;
	padding: 0;
}

body {
	font-family: Times New Roman, Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.4em;
	color: #FFFFFF;
	background-color: #B0AFAA;
	padding: 0 40px;
}
p{
	
	letter-spacing: 0.2em;
	width: 1120px;
	background-color: rgba(255,255,255,0.8);
	color: #70706C;
	margin: 0;
	padding: 30px;
}
h1 {
	font-size: 24px;
	font-variant: small-caps;
	letter-spacing: .1em;
	line-height: 2em;
	background-color: rgba(255,255,255,0.8);
	color: #70706C;
	margin: 0;
	padding: 30px;
	width: 1120px;
	border-bottom: 4px solid #70706C;
}
h2 {
	font-size: 20px;
	font-variant: small-caps;
	letter-spacing: 0.1em;
	background-color: rgba(255,255,255,0.8);
	color: #70706C;
	margin: 0;
	padding: 30px;
	width: 1120px;
	border-top: 4px solid #70706C;
}
h3 {
	font-size: 17px;
	letter-spacing: 0.2em;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-color: #9B9744;
	margin: 0;
	padding: 30px;
	font-variant: small-caps;
	width: 1120px;
	background-color: rgba(255,255,255,0.8);
	color: #70706C;
}

table{
	letter-spacing: 0.2em;
	width: 1180px;
	background-color: rgba(255,255,255,0.8);
	color: #70706C;
}

ol {
    background-color: rgba(255,255,255,0.8);
    margin: 0;
	padding: 30px;
	width: 1120px;
	letter-spacing: 0.2em;
	list-style-image: url('sqpurple.gif');
	
}

ul {
    background-color: rgba(255,255,255,0.8);
    margin: 0;
	padding: 30px;
	width: 1120px;
	letter-spacing: 0.2em;
	list-style-type:circle;
	
}
ol li {
   color: #70706C;
   margin-left: 35px;
   padding: 5px;
   
}

ul li {
	color: #70706C;
	margin-left: 35px;
	padding: 5px;
	
}


a:link {color: #70706C} 
a:visited {color: #70706C}  
a:hover {				  
	color: #70706C;
	text-decoration: none;
}
a:active {color: #70706C} 






