/* CSS by Steve Walter */

html, body{
	margin: 0;
	padding: 0;
}

body {
	font-family: Times New Roman, Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.4em;
	color: #FFFFFF;
	background-color: #70706c;
	padding: 0 40px;
	margin: 0;
}
p{
	
	letter-spacing: 0.2em;
	text-indent: 35px;
	word-wrap: break-word;
	color: #70706C;
	margin: 0;
	padding: 10px;
}
h1 {
	font-size: 45px;
	font-variant: small-caps;
	letter-spacing: .1em;
	line-height: 2em;
	color: #70706C;
	margin: 0;
	padding: 15px;
}
h2 {
	font-size: 20px;
	font-variant: small-caps;
	letter-spacing: 0.1em;
	
	color: #70706C;
	margin: 15px;
	
	
}
h3 {
	font-size: 17px;
	letter-spacing: 0.2em;
	margin: 0;
	padding: 10px;
	font-variant: small-caps;
	width: 1120px;

	color: #70706C;
}
img{
	border-top: hidden;
	border-bottom-right-radius: 100px;
	
	border-top: hidden;
	
	border-top-left-radius: 100px;
	
	
}
table{
	letter-spacing: 0.2em;


	color: #70706C;
}

ol {

    margin: 0;
	padding: 10px;
	width: 1120px;
	letter-spacing: 0.2em;
	list-style-image: url('sqpurple.gif');
	
}

ul {
    
    margin: 0;
	padding: 10px;
	width: 1120px;
	letter-spacing: 0.2em;
	list-style-type:circle;
	
}
ol li {
   color: #70706C;
   margin-left: 35px;
   padding: 5px;
   
}

ul li {
	color: #70706C;
	margin-left: 35px;
	padding: 5px;
	
}


a:link {color: #70706C} 
a:visited {color: #70706C}  
a:hover {				  
	color: #70706C;
	text-decoration: none;
}
a:active {color: #70706C} 


/*Div styles for page layout*/

#container {
	width: 1181px;
	margin: 0 auto;
	background-color: #EAEAEA;
	overflow: hidden;

	
}
#header {
	width: 100%;
	background-color: #EAEAEA;
	border-bottom: 2px solid #70706C;
}
#content {
	width: 750px;
	float: left;
	padding-bottom: 10px;
	margin-top: 20px;
	background-color: #EAEAEA;
}
#content2 {
	width: 575px;
	float: left;
	padding-bottom: 10px;
	margin-top: 20px;
	background-color: #EAEAEA;
}
#content2 img{
	padding: 10px 0px 0px 10px;
	border: none;
	border-radius: 0;
}
#content2 p{
	text-indent: 0;
}
#sidebar {
	width: 400px;
	float: left;
	background-color: #EAEAEA;
	margin-top: 65px;
	margin-right: 20px;
}
#sidebar p{
	background: #ffffff;
	border: 1px solid #70706C;
	border-radius: 20px;
	box-shadow: 10px 10px 5px #888888;
	font-variant: small-caps;
	text-indent: 0;
	
}
#sidebar img{
	border: 1px solid #70706C;
	border-radius: 20px;
	box-shadow: 10px 10px 5px #888888;
	margin-top: 65px;
}
#sidebar2 {
	width: 575px;
	float: left;
	background-color: #EAEAEA;
	margin-top: 65px;
	margin-right: 20px;
	border-left: dashed #70706C;
}
#footer {
	width: 100%;
	padding: 10px 0;
	background-color: #EAEAEA;
	border-top: solid 4px #70706c;
	clear: both;
}